doctype html
html
    head
        include ../includes/head.pug
    body.body
        include ../includes/rg_header.pug
        include ../includes/rg_wrapper.pug          
        include ../includes/rg_footer.pug
